* {
    margin: 0;
    padding: 0;
  }
  body{
    font-family: sans-serif;
      }
  body.modo-escuro {
    background-color: #212121;
    color: #ffffff;
  }
  
  body.modo-escuro #titulos,
  body.modo-escuro #subtitulo,
  body.modo-escuro label,
  body.modo-escuro button {
    color: #ffffff;
  }
  
  #botao-alterar-tema {
    background: none;
    border: none;
    cursor: pointer;
  }
  .cabecalho{
display: flex;
justify-content: flex-end;
margin-right: 9rem;

  }
  
  .imagem-botao {
    width: 1.875rem;
    transition: 0.2s ease-in-out;
    border: none;
    margin-top: 1rem;
  }
  
  #titulos,
  #subtitulo {
    font-family: sans-serif;
    color: #380B61;
    text-align: center;
  }
  
  fieldset {
    border: 0;
  }
  
  input,
  select,
  textarea,
  button {
    border-radius: 5px;
  }
  
  .campo {
    margin-bottom: 1rem;
  }
  
  .campo label {
    margin-bottom: 0.2rem;
    color: #59429d;
    display: block;
  }
  
  fieldset.campo.grupo {
    float: left;
    margin-right: 1em;
  }
  
  .campo input[type="text"],
  .campo input[type="email"],
  .campo select,
  .campo textarea {
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
  }
  
  .campo select option {
    padding-right: 1rem;

  }
  
  .campo input:focus,
  .campo select:focus,
  .campo textarea:focus {
    background: #e0e0f8;
  }
  
  .campo input[type="date"] {
    padding: 0.5em;
    border: 1px solid #59429d;
    border-radius: 5px;
    background-color: #f3f3f3;
    color: #59429d;
    width: 100%;
  }
  
  .botao {
    font-size: 1.2rem;
    background: #59429d;
    border: 0;
    margin-bottom: 1rem;
    color: #ffffff;
    padding: 0.2em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    right: -50%;
    transform: translate(-50%, -50%);
  }
  
  .botao:hover {
    background: rgb(129, 90, 248);
    text-shadow: none;
  }
  
  #check {
    display: inline-block;
  }
  .formulario {
    margin: 0 auto;
    background-color: rgba(194, 194, 194, 0.2);
    width: 15rem;
    height: 23rem;
    border-radius: 10%;
    padding: 20px;
  }
  
 
  .formulario:hover {
    background-color: rgba(194, 194, 194, 0.5);
  }
  